body {
    font-family: "Nunito", sans-serif;
    background: #fdeef4;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 20px;
    width: 350px;
    box-shadow: 0px 4px 18px rgba(0,0,0,0.1);
    text-align: center;
}

input, button {
    width: 90%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    margin-top: 10px;
    font-size: 16px;
}

button {
    background: #ffcce0;
    transition: 0.2s;
    cursor: pointer;
}

button:hover {
    background: #ffb3d6;
}

.flashcard {
    background: #c6f2ff;
    padding: 30px;
    border-radius: 20px;
    font-size: 28px;
    margin-top: 20px;
}

.hidden {
    display: none;
}

.result {
    background: #fff6c2;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    font-weight: bold;
}
